.ico {
    color: var(--secondary-color);
    cursor: pointer;
    opacity: 70%;
    z-index: 1;
    font-size: 2vw;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .ico{
        font-size: 1rem;
    }
    .ico2{
        display: none;
    }
    .ico3 {
display: none;
    }
    
}
.ico2 {
    color: var(--primary-color);
    opacity: 70%;
    z-index: 1;
    font-size: 20px;
}
